apiVersion: batch/v1
kind: Job
metadata:
  labels:
    run: knot
  name: knot
spec:
  ttlSecondsAfterFinished: 3600
  backoffLimit: 3
  template:
    metadata:
      creationTimestamp: null
      labels:
        run: knot
    spec:
      serviceAccount: knot
      containers:
        - image: garreeoke/knot
          imagePullPolicy: Always
          name: knot
          env:
            - name: KNOT_TYPE
              value: "github"
            - name: KNOT_AUTH
              value: "cluster"
            - name: KNOT_URI
              value: "owner/garreeoke/repository/k8_setup/branch/master"
            - name: KNOT_ACTION
              value: "create"
            - name: KNOT_WHITELIST
              value: "acme-air"
            #- name: GITHUB_USER
            #  value: ""
            #- name: GITHUB_TOKEN
            #  value: ""
          resources: {}
      restartPolicy: OnFailure
status: {}