apiVersion: batch/v1
kind: Job
metadata:
  creationTimestamp: null
  labels:
    run: knot
  name: knot
spec:
  ttlSecondsAfterFinished: 3600
  backoffLimit: 3
  template:
    metadata:
      creationTimestamp: null
      labels:
        run: knot
    spec:
      serviceAccount: knot
      containers:
        - image: garreeoke/knot
          name: knot
          resources: {}
          envFrom:
            - configMapRef:
                name: knot
      restartPolicy: OnFailure
status: {}